<html>
  <head>
    <style>
      body {
        background-color: <%= background %>;
        font-family: Verdana, sans-serif;
      }
      h1, p, form {
        text-align: center;
      }

      </style>
  </head>

  <body>
    <h1>Guess the Number!</h1>

    <p>Try to guess the secret number between 1 and 100!</p>

    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>

  <p><%= message %></p>

  <p>hint: the number is <%= number %></p>

  </body>
</html>
